@{
  Layout="_Layout";
}

@model Factory.Models.Engineer

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.JobTitle)
  @Html.EditorFor(model => model.JobTitle)
  @Html.LabelFor(model => model.StartDate)
  @Html.EditorFor(model => model.StartDate)
  <input type="submit" value="Save Changes">
}

<h4>@Html.DisplayFor(m => m.Name)'s Machine Certifications:</h4>
  <section class="engineer-cert-container">
  @foreach(var join in Model.Certifications)
  {
    <div class="engineer-cert">
      <p>@Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId }, new { @Class = "btn btn-success"})</p>
      @using (Html.BeginForm("DeleteMachine", "Engineers"))
        {
          @Html.Hidden("joinId", @join.MachineEngineerId)
          <input type="submit" value="X" class="btn btn-danger btn-machine-small"/>
        }
    </div>
  }
  </section>
<p>@Html.ActionLink("Cancel", "Details", new { id = Model.EngineerId }, new { @Class = "btn btn-primary"})</p>